﻿@{
    ViewData["Title"] = "Login";
}

@model LoginViewModel

<h2 style="color: cornsilk;" class="text-center">Login</h2>

<form asp-controller="User" asp-action="LoginUser" method="post" style="color:cornsilk; text-align: -webkit-center;">
    <div class="form-group" style="width: 25%;">
        <label asp-for="Username" style="color: cornsilk;"></label>
        <input type="text" asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <label asp-for="Password" style="color: cornsilk;"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group" style="color: cornsilk;">
        <input type="submit" value="Login" class="btn btn-primary" style="background-color: #060a0e; border-color: #ffffff;" />
        <a asp-controller="User" asp-action="Register" class="btn btn-secondary" style="border-color: #ffffff;">Register</a>
    </div>
</form>