﻿@{
    this.ViewData["Title"] = "OpenContests";
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["IsOrganiser"] = this.Context.Session.Keys.Contains("IsOrganiser");
    int count = 1;
}
@model PhotoContest.Models.DTOs.ListModels.ContestIndex
<body>
    @if (!Model.ContestList.Any())
    {
        <div style="text-align: -webkit-center; color: cornsilk; padding:20px;">
            <p>
                <b>
                    There are no contest opened contests that you enrolled.
                </b>
            </p>
        </div>
    }

    @if (Model.ContestList.Any())
    {
        <table class="table table-hover table-striped" style="">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Contest Title</th>
                    <th scope="col">First phase end</th>
                    <th scope="col">Contest Category</th>
                </tr>
            </thead>
            <tbody class="table-hover" style="background-color: gainsboro">
                @foreach (var contest in Model.ContestList)
                {
                    <tr>
                        <td>
                            @count
                        </td>

                        @if ((bool)this.ViewData["IsAuthenticated"])
                        {
                            <td>
                                <a asp-controller="Contests" asp-action="Details" asp-route-id="@contest.Id"><span>@contest.Title.ToString()</span></a>
                            </td>
                        }
                        else
                        {
                            <td>
                                @contest.Title.ToString()
                            </td>
                        }

                        <td>
                            @contest.FirstPhaseEnd.ToString("HH:mm dd-MMMM/yyyy")
                        </td>
                        <td>
                            @contest.ContestType
                        </td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>

    }
</body>
