﻿@{
    ViewData["Title"] = "Register";
}

@model RegisterViewModel

<h2 style="color: cornsilk;" class="text-center">Register</h2>


<form asp-controller="User" asp-action="Register" method="post" style="color: cornsilk; text-align: -webkit-center;">
    <div class="form-group" style="width: 25%;">
        <label asp-for="Username"></label>
        <input type="text" asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 25%;">
        <input type="submit" value="Register" class="btn btn-primary" />
        <a asp-controller="Authentication" asp-action="Login" class="btn btn-secondary">Login</a>
    </div>
</form>