﻿@{

}

<div class=" text-center" style="color:cornsilk;">
    <h4>
        Terms of Service & Use and Privacy Policy
    </h4>

    <div style="color: cornsilk; text-align: center">

        <p style="color:cornsilk;">
            imagination.NET was founded to host monthly international themed art competitions with international juries.
            <br />
            <i style="color:cornsilk;">
                Our objective is to provide award recipients with the opportunity to strengthen their presence through our gallery,
                <br />acquire international online media and social media exposure, enhance their portfolios,
                <br />and become a part of a growing community of award-winning artists.
            </i>
        </p>
    </div>
</div>


<div id="carouselExampleIndicators" style="max-width: 1000px; max-height: 700px; margin-left: 210px;" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="max-width: 1000px; max-height: 700px " src="~/Images/background.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 1000px; max-height: 700px " src="~/Images/camera_lens_strap_144511_2560x1440.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 1000px; max-height: 700px " src="~/Images/portrait-side.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 1000px; max-height: 700px " src="~/Images/animals.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 1000px; max-height: 700px " src="~/Images/adventures.jpg" alt="Fifth slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class=" text-center" style="color: cornsilk; padding:15px;">
    <h3>Tips and professional advises</h3>
</div>
<div class="container">

    <div style="float:left; color:cornsilk; padding:20px;">
        <h4>
            1: Learn As Much As You Can
        </h4>
        Chances are, right now you’re extremely excited about photography
        <br />but you would like to become passionate. You’re looking for an area
        <br />to focus on and dive headfirst. But you don’t know what you don’t
        <br />know so step 1 is to learn all that you can. We all know that youtube
        <br />is a powerful platform to learn just anything you can imagine but
        <br />I would suggest giving Creative Live a try. They offer hundreds of
        <br />in depth courses on anything you can imagine related to being a creative.
        <br />They are all for sale BUT 24 hours a day they run multiple courses for free.
        <br />With creative live you know your course with be in depth and be taught
        <br />by a professional in their field. Which can’t always be said for Youtube.
    </div>
    <div style="color:cornsilk; float:right; padding:17px;">
        <h4>
            2: Don’t Shoot What Doesn’t Interest You
        </h4>

        Does everyone tell you that the only way to make money in photography
        <br />is by shooting weddings but you know that you don’t want to give up your weekends?
        <br />Then don’t shoot weddings! Check out Outdoor Adventure Photographer
        <br />Kat Carney. She is a professional photographer who lives out of a
        <br />converted 4x4 suburban! She’s doing it because she’s passionate about
        <br />shooting nature and being outdoors. Not because it’s the most popular option.
        <br />Now I’m not giving you a pass to not be curious. When I first got into
        <br />photography I didn’t think I wanted to shoot weddings but I gave it a
        <br />try and fell in love.
    </div>
    <div style="color: cornsilk; float: left; margin-left: 36px;">
        <h4>
            3: Learn When To Move On
        </h4>
        You got into photography because you enjoy it. It’s fun.
        <br />Not because you felt obligated. So if you ever get to the point
        <br />where you become bored or no longer into it as you were before, move on.
        <br />Photography is really something that you can learn and grow with and
        <br />sometimes what you thought was passion was actually just excitement.
        <br />When I first got into photography I really enjoyed the idea of macro photography.
        <br />Being able to see the world in a completely new way was fascinating to me.
        <br />Almost a decade later, I don’t even own a macro lens anymore because it was
        <br />not as enjoyable as I had previously thought and it took much more effort to
        <br />get a great macro photo and I didnt think the pay off was worth it.
        <br />So I moved on to keep the passion alive.
    </div>

    <div style="color: cornsilk; float: right; padding: 20px; margin-right: 59px; ">
        <h4>
            4: What Are Good At And What You Enjoy
        </h4>
        I’m good at math. But I do not enjoy it. I’m not good at speaking other
        <br />languages but man do I love when I’m able to piece a sentence together.
        <br />When you take an inventory of your strengths and then pick out what
        <br />you love to do you may have just found your match made in heaven.
        <br />I love newborn photography but I’m terrified making a mistake that could
        <br />hurt a newborn so I don’t do it. I love going to new adventurous places and
        <br />meeting new people and I’m good at making people feel comfortable and
        <br />relaxed in front of the camera so engagement and wedding photography
        <br />is a great fit for me.
    </div>
</div>