﻿@{
    this.ViewData["Title"] = "Home Page";
    this.ViewData["IsOrganiser"] = this.Context.Session.Keys.Contains("IsOrganiser");
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
}

@if (!(bool)this.ViewData["IsAuthenticated"])
{
    <div class="text-center text-primary">
        <p>
            Welcome!
        </p>
        <p>
            Enjoy your time in here and LOGIN to participate in our contests!
        </p>
        <p>
            You could be our new
            <b>
                winner
            </b>
            !
        </p>
    </div>
}
else
{
<div style="text-align: -webkit-center; color: cornsilk; padding:20px;">
    <p>
        <b>
            <i>
                The biggest lesson in photography is that from negative we make positive!

            </i>
        </b>
    </p>
    <p class="text-success">
        Joseph Koudeika
    </p>
</div>
}

<div id="carouselExampleIndicators" style="max-width: 800px; max-height: 400px; margin-left: 320px;" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="max-width: 800px; max-height: 400px " src="~/Images/portrait-side.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 800px; max-height: 400px " src="~/Images/animals.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 800px; max-height: 400px " src="~/Images/adventures.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="max-width: 800px; max-height: 400px " src="~/Images/window_photography_contest_TTL_bangladesh_34.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="text-center text-danger">
    <br />
    <p>
        Our last 3 winners are here!
    </p>
    <p>
        Participate and your work might apear on the slideshow!
    </p>
</div>


